html {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background: #222222;
    color: #DDDDDD;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#below-tickers {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 3px gray solid;
    border-radius: 10px;
    margin: 5px;
}

.col>.row {
    flex: 0 1 auto;
    padding: 5px 10px;
    font-size: 2rem;
    border-bottom: 2px gray solid;
}

.row.header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.ticker-area {
    flex: 0 1 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
}

.ticker-item {
    padding: 2px 30px;
    font-size: 4rem;
    white-space: nowrap;
}

.ticker-area::-webkit-scrollbar {
    display: none;
}

.pad {
    margin: auto;
}

.info {
    color: rgb(63, 176, 252);
}

.success {
    color: rgb(63, 252, 110);
}

.warning {
    color: rgb(252, 141, 63);
}

.critical {
    color: rgb(252, 63, 63);
}

.loading {
    margin: 0 auto;
}