body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background: #222222;
    color: #DDDDDD;
    margin: 0;
    padding: 0;
}

.ticker-area {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.item {
    padding: 2px 20px;
    font-size: 4rem;
    white-space: nowrap;
}

.ticker-area::-webkit-scrollbar {
    height: 2px;
}
 
.ticker-area::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.pad {
    margin: auto;
}

.info {
    color: rgb(63, 176, 252);
}

.success {
    color: rgb(63, 252, 110);
}

.warning {
    color: rgb(252, 141, 63);
}

.critical {
    color: rgb(252, 63, 63);
}

.loading {
    margin: 0 auto;
}